version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: ehastaakshar_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ehastaakshar_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: ehastaakshar_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data: