name: Generate API Schema
on: [push]

jobs:
  generate-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Generate OpenAPI JSON
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: db
          POSTGRES_SERVER: localhost
        run: |
          # We need to set python path so it finds 'app' module
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          python extract_openapi.py

      - name: Upload Schema Artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-schema
          path: openapi.json